<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.ChatMessage">
        <id property="id" column="id"/>
        <result property="meetingId" column="meetingId"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="sendUserId" column="sendUserId"/>
        <result property="sendUserNickName" column="sendUserNickName"/>
        <result property="sendTime" column="sendTime"/>
        <result property="receiveType" column="receiveType"/>
        <result property="receiveUserId" column="receiveUserId"/>
        <result property="fileSize" column="fileSize"/>
        <result property="fileName" column="fileName"/>
        <result property="fileType" column="fileType"/>
        <result property="fileSuffix" column="fileSuffix"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, meetingId, type, content, sendUserId, sendUserNickName,
        sendTime, receiveType, receiveUserId, fileSize, fileName,
        fileType, fileSuffix, status
    </sql>

    <insert id="insertPartition">
        INSERT INTO `${tableName}` (
            <include refid="Base_Column_List"/>
        ) VALUES (
            #{entity.id},
            #{entity.meetingId},
            #{entity.type},
            #{entity.content},
            #{entity.sendUserId},
            #{entity.sendUserNickName},
            #{entity.sendTime},
            #{entity.receiveType},
            #{entity.receiveUserId},
            #{entity.fileSize},
            #{entity.fileName},
            #{entity.fileType},
            #{entity.fileSuffix},
            #{entity.status}
        )
    </insert>

    <insert id="batchInsertPartition">
        INSERT INTO `${tableName}` (
            <include refid="Base_Column_List"/>
        ) VALUES
        <foreach collection="entities" item="entity" separator=",">
            (
            #{entity.id},
            #{entity.meetingId},
            #{entity.type},
            #{entity.content},
            #{entity.sendUserId},
            #{entity.sendUserNickName},
            #{entity.sendTime},
            #{entity.receiveType},
            #{entity.receiveUserId},
            #{entity.fileSize},
            #{entity.fileName},
            #{entity.fileType},
            #{entity.fileSuffix},
            #{entity.status}
            )
        </foreach>
    </insert>

    <update id="updatePartitionById">
        UPDATE `${tableName}`
        SET meetingId = #{entity.meetingId},
            type = #{entity.type},
            content = #{entity.content},
            sendUserId = #{entity.sendUserId},
            sendUserNickName = #{entity.sendUserNickName},
            sendTime = #{entity.sendTime},
            receiveType = #{entity.receiveType},
            receiveUserId = #{entity.receiveUserId},
            fileSize = #{entity.fileSize},
            fileName = #{entity.fileName},
            fileType = #{entity.fileType},
            fileSuffix = #{entity.fileSuffix},
            status = #{entity.status}
        WHERE id = #{entity.id}
    </update>

    <delete id="deletePartitionById">
        DELETE FROM `${tableName}`
        WHERE id = #{id}
    </delete>

    <sql id="PrivateHistoryWhereClause">
        WHERE meetingId = #{meetingId}
        AND receiveType = #{receiveType}
        AND (
        (sendUserId = #{currentUserId} AND receiveUserId = #{targetUserId})
        OR
        (sendUserId = #{targetUserId} AND receiveUserId = #{currentUserId})
        )
        <if test="maxMessageId != null">
            AND id <![CDATA[ < ]]> #{maxMessageId}
        </if>
    </sql>

    <select id="listPrivateHistoryByPageAcrossTables" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM (
        <foreach collection="tableNames" item="tableName" separator=" UNION ALL ">
            SELECT
            <include refid="Base_Column_List"/>
            FROM `${tableName}`
            <include refid="PrivateHistoryWhereClause"/>
        </foreach>
        ) history
        ORDER BY sendTime DESC, id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countPrivateHistoryAcrossTables" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM (
        <foreach collection="tableNames" item="tableName" separator=" UNION ALL ">
            SELECT id
            FROM `${tableName}`
            <include refid="PrivateHistoryWhereClause"/>
        </foreach>
        ) history
    </select>

    <select id="listByMeetingIdAcrossTables" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM (
        <foreach collection="tableNames" item="tableName" separator=" UNION ALL ">
            SELECT <include refid="Base_Column_List"/>
            FROM `${tableName}`
            WHERE meetingId = #{meetingId}
            <if test="startSendTime != null">
                AND sendTime <![CDATA[ >= ]]> #{startSendTime}
            </if>
            <if test="endSendTime != null">
                AND sendTime <![CDATA[ <= ]]> #{endSendTime}
            </if>
            <if test="beforeSendTime != null">
                AND sendTime <![CDATA[ < ]]> #{beforeSendTime}
            </if>
        </foreach>
        ) history
        ORDER BY sendTime DESC, id DESC
        LIMIT #{limit}
    </select>

    <select id="getByIdAcrossTables" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM (
        <foreach collection="tableNames" item="tableName" separator=" UNION ALL ">
            SELECT <include refid="Base_Column_List"/>
            FROM `${tableName}`
            WHERE id = #{id}
        </foreach>
        ) history
        LIMIT 1
    </select>

    <select id="listExpiredMessagesFromHotTable" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM chatMessage
        WHERE sendTime <![CDATA[ < ]]> #{cutoffSendTime}
        ORDER BY sendTime ASC, id ASC
    </select>

    <select id="countExpiredMessagesInHotTable" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM chatMessage
        WHERE sendTime <![CDATA[ < ]]> #{cutoffSendTime}
    </select>

    <delete id="deleteHotMessagesByIds">
        DELETE FROM chatMessage
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
