<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.ChatMessage">
        <id property="id" column="id"/>
        <result property="meetingId" column="meeting_id"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="sendUserId" column="send_user_id"/>
        <result property="sendUserNickName" column="send_user_nick_name"/>
        <result property="sendTime" column="send_time"/>
        <result property="receiveType" column="receive_type"/>
        <result property="receiveUserId" column="receive_user_id"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileName" column="file_name"/>
        <result property="fileType" column="file_type"/>
        <result property="fileSuffix" column="file_suffix"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, meeting_id, type, content, send_user_id, send_user_nick_name,
        send_time, receive_type, receive_user_id, file_size, file_name,
        file_type, file_suffix, status
    </sql>

    <insert id="insertPartition">
        INSERT INTO `${tableName}` (
            <include refid="Base_Column_List"/>
        ) VALUES (
            #{entity.id},
            #{entity.meetingId},
            #{entity.type},
            #{entity.content},
            #{entity.sendUserId},
            #{entity.sendUserNickName},
            #{entity.sendTime},
            #{entity.receiveType},
            #{entity.receiveUserId},
            #{entity.fileSize},
            #{entity.fileName},
            #{entity.fileType},
            #{entity.fileSuffix},
            #{entity.status}
        )
    </insert>

    <insert id="batchInsertPartition">
        INSERT INTO `${tableName}` (
            <include refid="Base_Column_List"/>
        ) VALUES
        <foreach collection="entities" item="entity" separator=",">
            (
            #{entity.id},
            #{entity.meetingId},
            #{entity.type},
            #{entity.content},
            #{entity.sendUserId},
            #{entity.sendUserNickName},
            #{entity.sendTime},
            #{entity.receiveType},
            #{entity.receiveUserId},
            #{entity.fileSize},
            #{entity.fileName},
            #{entity.fileType},
            #{entity.fileSuffix},
            #{entity.status}
            )
        </foreach>
    </insert>

    <update id="updatePartitionById">
        UPDATE `${tableName}`
        SET meeting_id = #{entity.meetingId},
            type = #{entity.type},
            content = #{entity.content},
            send_user_id = #{entity.sendUserId},
            send_user_nick_name = #{entity.sendUserNickName},
            send_time = #{entity.sendTime},
            receive_type = #{entity.receiveType},
            receive_user_id = #{entity.receiveUserId},
            file_size = #{entity.fileSize},
            file_name = #{entity.fileName},
            file_type = #{entity.fileType},
            file_suffix = #{entity.fileSuffix},
            status = #{entity.status}
        WHERE id = #{entity.id}
    </update>

    <delete id="deletePartitionById">
        DELETE FROM `${tableName}`
        WHERE id = #{id}
    </delete>

    <sql id="PrivateHistoryWhereClause">
        WHERE meeting_id = #{meetingId}
        AND receive_type = #{receiveType}
        AND (
        (send_user_id = #{currentUserId} AND receive_user_id = #{targetUserId})
        OR
        (send_user_id = #{targetUserId} AND receive_user_id = #{currentUserId})
        )
        <if test="maxMessageId != null">
            AND id <![CDATA[ < ]]> #{maxMessageId}
        </if>
    </sql>

    <select id="listPrivateHistoryByPageAcrossTables" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM (
        <foreach collection="tableNames" item="tableName" separator=" UNION ALL ">
            SELECT
            <include refid="Base_Column_List"/>
            FROM `${tableName}`
            <include refid="PrivateHistoryWhereClause"/>
        </foreach>
        ) history
        ORDER BY send_time DESC, id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countPrivateHistoryAcrossTables" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM (
        <foreach collection="tableNames" item="tableName" separator=" UNION ALL ">
            SELECT id
            FROM `${tableName}`
            <include refid="PrivateHistoryWhereClause"/>
        </foreach>
        ) history
    </select>

    <select id="listByMeetingIdAcrossTables" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM (
        <foreach collection="tableNames" item="tableName" separator=" UNION ALL ">
            SELECT <include refid="Base_Column_List"/>
            FROM `${tableName}`
            WHERE meetingId = #{meetingId}
            <if test="startSendTime != null">
                AND send_time <![CDATA[ >= ]]> #{startSendTime}
            </if>
            <if test="endSendTime != null">
                AND send_time <![CDATA[ <= ]]> #{endSendTime}
            </if>
            <if test="beforeSendTime != null">
                AND send_time <![CDATA[ < ]]> #{beforeSendTime}
            </if>
        </foreach>
        ) history
        ORDER BY send_time DESC, id DESC
        LIMIT #{limit}
    </select>

    <select id="getByIdAcrossTables" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM (
        <foreach collection="tableNames" item="tableName" separator=" UNION ALL ">
            SELECT <include refid="Base_Column_List"/>
            FROM `${tableName}`
            WHERE id = #{id}
        </foreach>
        ) history
        LIMIT 1
    </select>

    <select id="listExpiredMessagesFromHotTable" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM chat_message
        WHERE send_time <![CDATA[ < ]]> #{cutoffSendTime}
        ORDER BY send_time ASC, id ASC
    </select>

    <select id="countExpiredMessagesInHotTable" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM chat_message
        WHERE send_time <![CDATA[ < ]]> #{cutoffSendTime}
    </select>

    <delete id="deleteHotMessagesByIds">
        DELETE FROM chat_message
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
