<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.MeetingmemberMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.MeetingMember">
            <id property="meetingId" column="meetingId" />
            <id property="userId" column="userId" />
            <result property="nickName" column="nickName" />
            <result property="lastJoinTime" column="lastJoinTime" />
            <result property="status" column="status" />
            <result property="memberType" column="memberType" />
            <result property="meetingStatus" column="meetingStatus" />
    </resultMap>

    <sql id="Base_Column_List">
        meetingId,userId,nickName,lastJoinTime,status,memberType,
        meetingStatus
    </sql>

    <insert id="insertOrUpdate">
        INSERT INTO meetingMember (meetingId, userId, nickName, lastJoinTime, status, memberType, meetingStatus)
        VALUES (#{meetingId}, #{userId}, #{nickName}, #{lastJoinTime}, #{status}, #{memberType}, #{meetingStatus})
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="nickName != null">nickName = #{nickName},</if>
            <if test="lastJoinTime != null">lastJoinTime = #{lastJoinTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="memberType != null">memberType = #{memberType},</if>
            <if test="meetingStatus != null">meetingStatus = #{meetingStatus},</if>
        </trim>
    </insert>

    <update id="updateById">
        UPDATE meetingMember
        <set>
            <if test="et.nickName != null">nickName = #{et.nickName},</if>
            <if test="et.lastJoinTime != null">lastJoinTime = #{et.lastJoinTime},</if>
            <if test="et.status != null">status = #{et.status},</if>
            <if test="et.memberType != null">memberType = #{et.memberType},</if>
            <if test="et.meetingStatus != null">meetingStatus = #{et.meetingStatus},</if>
        </set>
        WHERE meetingId = #{et.meetingId}
          AND userId = #{et.userId}
    </update>
</mapper>
