<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.MeetingMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.Meeting">
            <id property="id" column="id" />
            <result property="meetingNo" column="meetingNo" />
            <result property="name" column="name" />
            <result property="createUserId" column="createUserId" />
            <result property="joinType" column="joinType" />
            <result property="joinPassword" column="joinPassword" />
            <result property="startTime" column="startTime" />
            <result property="endTime" column="endTime" />
            <result property="status" column="status" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,meetingNo,name,createUserId,joinType,joinPassword,
        startTime,endTime,status,createTime,updateTime
    </sql>
    
    <sql id="query_condition">
        <where>
            1=1
            <if test="query.userId != null">
                and m.id in (
                    select id from meetingMember mm where mm.userId = #{query.userId} and mm.status = 1
                )
            </if>
        </where>
    </sql>
    
    <select id="findListByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        <if test="query.queryMeetingMemberCount">
            ,(select count(1) from meetingMember mm where mm.meetingId = m.id) memberCount
        </if>
        from meeting m
        <include refid="query_condition"/>
        <if test="query.sortField != null">
            order by #{query.sortField} #{query.sortOrder}
        </if>
        LIMIT #{query.pageSize} OFFSET ${(query.current - 1) * query.pageSize}
    </select>
</mapper>
