<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.UserContactApplyMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.UserContactApply">
        <id property="id" column="id"/>
        <result property="applyUserId" column="applyUserId"/>
        <result property="receiveUserId" column="receiveUserId"/>
        <result property="status" column="status"/>
        <result property="lastApplyTime" column="lastApplyTime"/>
    </resultMap>

    <resultMap id="ContactApplyVOResultMap" type="xyz.kbws.model.vo.ContactApplyVO" extends="BaseResultMap">
        <result property="email" column="email"/>
        <result property="nickName" column="nickName"/>
        <result property="sex" column="sex"/>
        <result property="userStatus" column="userStatus"/>
        <result property="meetingNo" column="meetingNo"/>
        <result property="lastLoginTime" column="lastLoginTime"/>
        <result property="lastOffTime" column="lastOffTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        uca.id,uca.applyUserId,uca.receiveUserId,uca.status,uca.lastApplyTime
    </sql>

    <sql id="query_condition">
        <where>
            1=1
            <if test="query.receiveUserId != null">
                and uca.receiveUserId = #{query.receiveUserId}
            </if>
            <if test="query.status != null">
                and uca.status = #{query.status}
            </if>
        </where>
    </sql>

    <sql id="query_sql">
        select
        <include refid="Base_Column_List"/>
        <if test="query.queryUserInfo != null and query.queryUserInfo">
            ,u.email email
            ,u.nickName nickName
            ,u.sex sex
            ,u.status userStatus
            ,u.meetingNo meetingNo
            ,u.lastLoginTime lastLoginTime
            ,u.lastOffTime lastOffTime
        </if>
        from userContactApply uca
        <if test="query.queryUserInfo != null and query.queryUserInfo">
            left join user u on u.id = uca.applyUserId
        </if>
        <include refid="query_condition"/>
        order by uca.lastApplyTime desc
    </sql>

    <select id="findListByPage" resultMap="ContactApplyVOResultMap">
        <include refid="query_sql"/>
    </select>

    <select id="selectOneByApplyUserIdAndReceiveUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from userContactApply uca
        where applyUserId = #{applyUserId}
          and receiveUserId = #{receiveUserId}
        limit 1
    </select>
</mapper>
